html,body {
	margin:0;
	padding:0;
}
html,body {
	background-color: #16161d;
}



	canvas.magic256 {
		image-rendering: -moz-crisp-edges;
		image-rendering: -webkit-crisp-edges;
		image-rendering: pixelated;
		image-rendering: crisp-edges;
	}
	canvas.magic256 {
		position: absolute;
		top:  50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
	canvas.magic256 {
		border: 0.11557vh solid #404040;
	}
	canvas.magic256 {
		height:90vh;
	}		
